{
  "nick": "sfedits",
  "accounts": [
    {
      "template": "{{{page}}} Wikipedia article edited by {{{name}}} {{&url}}",
      "watchlist": {
        "English Wikipedia": {
          "San Francisco Board of Supervisors": true,
          "Daniel Lurie": true,
          "London Breed": true
        }
      },
      "watchlist_source": {
        "project": "California/San Francisco Bay Area task force",
        "wikipedia": "English Wikipedia",
        "importance": ["Top", "High"],
        "refresh_hours": 24
      },
      "bluesky": {
        "identifier": "your-username.bsky.social",
        "password": "your-app-password"
      },
      "mastodon": {
        "instance": "https://your-instance.social",
        "access_token": "your-access-token"
      },
      "discord": {
        "webhook_url": "https://discord.com/api/webhooks/your-webhook-id/your-webhook-token"
      },
      "pii_alerts": {
        "bluesky_recipient": "yourpersonalhandle.bsky.social",
        "mastodon_recipient": "yourpersonalhandle"
      },
      "pii_blocking": {
        "enabled": true,
        "blocked_entity_types": [
          "EMAIL_ADDRESS",
          "PHONE_NUMBER",
          "CREDIT_CARD",
          "US_SSN",
          "US_PASSPORT",
          "US_DRIVER_LICENSE",
          "CRYPTO",
          "IBAN_CODE",
          "IP_ADDRESS",
          "URL",
          "PERSON",
          "LOCATION",
          "DATE_TIME",
          "NRP",
          "ORGANIZATION",
          "US_BANK_NUMBER",
          "AU_ABN",
          "AU_ACN",
          "AU_TFN",
          "AU_MEDICARE",
          "IN_PAN",
          "IN_AADHAAR",
          "IN_VEHICLE_REGISTRATION",
          "SG_NRIC_FIN",
          "UK_NHS"
        ]
      }
    }
  ]
}


